<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Futbolista</title>
</head>
<body>

<h1>Registro de futbolista</h1>
<form action="#" th:action="@{/futbolistas/}" th:object="${futbolista}" method="post">
    <label for="name">Nombre</label>
    <input type="text" th:field="*{nombre}" id="name">
    <br>
    <br>
    <label for="apellido1">Primer apellido</label>
    <input type="text" th:field="*{apellido1}" id="apellido1">
    <br>
    <br>
    <label for="apellido2">Segundo apellido</label>
    <input type="text" th:field="*{apellido2}" id="apellido2">
    <br>
    <br>
    <label for="altura">Estatura(m)</label>
    <input type="number" step="0.001" th:field="*{estatura}" id="estatura">
    <br>
    <br>
    <label for="peso">Peso(Kg)</label>
    <input type="number" step="0.001" th:field="*{peso}" id="peso">
    <br>
    <br>
    <label for="posicion">Elija una posición:</label>
    <select name="posicion" th:field="*{posicion}" id="posicion">
        <option value="null">-Select-</option>
        <option value="Portero">Portero</option>
        <option value="Defensa">Defensa</option>
        <option value="Delantero">Delantero</option>
        <option value="Mediocampista">Mediocampista</option>
    </select>
    <br>
    <br>
    <label for="fechaNacimiento">Fecha de Nacimiento</label>
    <input type="date" th:field="*{fechaNacimiento}" id="fechaNacimiento" placeholder="dd-mm-yyyy" min="1997-01-01" max="2030-12-31">
    <br>
    <br>
    <label for="rama">Elija la rama:</label>
    <select name="rama" th:field="*{rama}" id="rama">
        <option value="none">-Select-</option>
        <option value="Masculina">Masculina</option>
        <option value="Femenina">Femenina</option>
    </select>
    <br>
    <br>
    <label for="direccion">Direccion</label>
    <input type="text" th:field="*{direccion}" id="direccion">
    <br>
    <br>
    <label for="provincia">Elija la provincia:</label>
    <select name="provincia" th:field="*{provincia}" id="provincia">
        <option value="none">-Select-</option>
        <option value="San José">San José</option>
        <option value="Alajuela">Alajuela</option>
        <option value="Cartago">Cartago</option>
        <option value="Heredia">Heredia</option>
        <option value="Guanacaste">Guanacaste</option>
        <option value="Puntarenas">Puntarenas</option>
        <option value="Limón">Limón</option>
    </select>
    <br>
    <br>
    <label for="canton">Canton</label>
    <input type="text" th:field="*{canton}" id="canton">
    <br>
    <br>
    <label for="distrito">Distrito</label>
    <input type="text" th:field="*{distrito}" id="distrito">
    <br>
    <br>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email">
    <br>
    <br>
    <label for="telefono">Teléfono</label>
    <input type="text" th:field="*{telefono}" id="telefono">
    <br>
    <br>
    <input type="submit" value="Agregar">
</form>
<br>
<br>
<a href="/">Volver al inicio</a>
</body>
</html>